# Environment
.vscode
__pycache__/
venv/
u_venv36/

# Models
*.caffemodel


# Training data
*.mp4
*.gif
*.jpg
*.png
*.tar*
*.zip

# Misc
setup.md
*.pdf

# Not ready yet
AlphaPose/
Library/
gan_hands/
info/
